header
{
	font-family: 'Crafty Girls', cursive;
	font-size: 40px;
	text-align: center;	
}
body{
	
	background-color: #FFFAFA;
}

nav{
	font-family: HanziPen SC;
	font-size: 25px;

}
nav ul{
	list-style-type: none;
}
nav li{
	display: inline;
	padding: 25px;
}
div a{
	border: 7px dotted #708090;
	border-radius: 20px;
}

div{
	font-family: Papyrus;
}
.first a {
	float: left;
	margin: 40px 120px;
	
}
.second a {
	float: left;
	margin: 40px 225px;

}	
.text1 p{
	display: inline;
	float: left;
	padding-left: 165px;
	padding-right: 160px;
	
}

.text2 p{
	display: inline;
	float: left;
	padding-left: 225px;
	padding-right: 300px;
}

hr{
border: 2px solid #8B4513;
}

footer{
	clear:both;
    font-family: HanziPen SC;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    color:#8B4513;
    margin-right: 100px;
    margin-bottom: 50px;

}
footer li{
	display: inline;
	padding:15px;
	
}